.app{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-main{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 100%;
}

.app-grid{
    height: 100%;
}

.app-wrapper{
    height: 100%;
}