.edit-profile-wrapper{

}

.profile-card-wrapper{
    margin-bottom: 0.5em;
}
.display-avatar{
    width: 6em;
    height: 6em;
}
.display-avatar-box{
    width: 3em;
    height: 3em;
    max-width: 6em;
    max-height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    border-radius: 3em;
    color: white;
    overflow: hidden;
    box-sizing: border-box;
}
.profile-card-desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-card-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display-desc{
    margin-left: 1em;
    flex-grow: 1;
}
.text-align-center{
    text-align: center
}
.display-desc-button{
    text-align: right;
}
.display-desc-header{
    margin-bottom: 0 !important;
}

.form-container{
    padding: 1em 0;
}